@{
    ViewData["Title"] = "Contact Us";
}
<br />
<br />
<h1>For any concerns, Please Send us a Message! </h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Full name">

                    </div>
                    <br />
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                </div>
                <br />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Contact Number ">

                    </div>
                </div>
                <br />
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <input type="text" class="form-control" placeholder="Subject ">
                    </div>
                </div>
                <br />
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <textarea class="form-control" rows="3"> Message </textarea>
                    </div>
                </div>
                <br />
                <div class="form-row">
                    <div class="form-group col-md-12 text-center">
                        <button type="submit" class="btn btn-outline-dark my-2 my-sm-0">Send Message </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    <div class="col-md-3  pl-4 pr-4">
        <br />
        <br />
        <h1>Contact Us</h1>
        <a href="#"><i class="fas fa-phone"></i> +(63) 91568597485 </a><br>
        <a href="istore@gmail.com"> istore@gmail.com </a><br>
    </div>



