@{
    ViewData["Title"] = "Contact Us";
}

<div class="col-md-3  pl-4 pr-4">
    <br />
    <br />
    <h1>Contact Us</h1>
    <a href="#"><i class="fas fa-phone"></i> +(63) 91568597485 </a><br>
    <a href="istore@gmail.com"><i class="fas fa-envelope"></i> istore@gmail.com </a><br>
    <div class="embed-responsive embed-responsive-16by9">
    </div>
</div>

