@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <br />
    <br />
    <h1 class="display-1">IStore</h1>
    <br />
    <h5> Your one stop phone accessories store.</h5>
    <br />
    <br />

    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">New Customer</button>
    <button class="btn btn-outline-dark  my-2 my-sm-0" type="submit">Old Customer</button>
</div>
