@{
    ViewData["Title"] = "Home Page";
}
<div id="backg"></div>
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="text-center">
    <br />
    <br />

    <img src="images/icon2.png" alt="iStore"
         class="align-content-center" />
    <h5> Your one stop phone accessories store.</h5>
    <br />
    <br />

    <a class="btn btn-outline-dark my-2 my-sm-0" style="" id="register"asp-area="" asp-controller="Store" asp-action="Index">Shop Now</a>
</div>

