@{
    ViewData["Title"] = "About Us";
}
<div class="text-center">
<p>
    <br />
    <br />
    <h1>About  Us</h1>
    <br />
    iStore is an e-commerce website dedicated to providing our consumers with fashionable yet affordable accessories. <br>
    Our main goal is to ensure that our customers are satisfied with the quality of our products as they appeared in our store. <br>
</p>
<hr />

<h2 style="text-align:center">The Founders of iStore</h2>
<div class="row d-flex justify-content-center">
    <div class="column">
        <div class="card">
            <img src="~/images/lance.jpg" alt="lance" class="center"/>
            <div class="container">
                <h2>Lance Tristan Lat</h2>
                <p>lancetristanlat</p>
                <a href="http://www.facebook.com/isaaclance.lat/">
                    <button type="button" class="btn btn-outline-dark btn-sm">
                        Contact
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/images/abigail.jpg" alt="abigail" class="center"/>
            <div class="container">
                <h2>Abigail Magpatoc</h2>
                <p>abigailmagpatoc</p>
                <a href="http://www.facebook.com/abigailmgptc/">
                    <button type="button" class="btn btn-outline-dark btn-sm">
                        Contact </button>
                </a>
                </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="~/images/aliyah.jpg" alt="aliyah" class="center"/>
            <div class="container">
                <h2>Aliyah Rose Lopez </h2>
                <p>aliyahroselopez</p>
                <a href="http://www.facebook.com/aliyahhrose/">
                    <button type="button" class="btn btn-outline-dark btn-sm">
                        Contact
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
</div>

