


.fa, .fas {
    height: max-content !important;
    width: stretch !important;
}

img, svg {
    height: 200px !important;
    width: 200px !important;
}

.center {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 450px !important;
    height: 450px !important;
}

.align {
    align-self: center !important;
    align-content: center !important;
    text-align: center !important;
}

#example1 {
    border: 2px solid black;
    padding: 25px;
    background: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: auto;
}



